mixin loginForm()
  form.form(action="/login" method="POST")
    h2 login
    label(for="email") Email Address
    input(type="email" name="email")
    label(for="password") Password
    input(type="password" name="password")
    input.button(type="submit" value="Log In ->")
    <p>For your security, Masmaproperty doesn't store your password if you forget it, you will need to reset it...</p>
    a(href=`/forgot`) <strong>Forgot Password?</strong>
